@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer components {
  .generic-input {
    @apply h-10 
    w-full 
    border-b-2
    border-gray-300 
    bg-transparent 
    px-2
    placeholder-transparent 
    focus:border-rose-600
    focus:placeholder-slate-500 
    focus:outline-none;
  }

  .generic-label {
    @apply absolute 
    left-0 
    -top-3.5 
    text-sm 
    text-gray-600 
    transition-all 
    peer-placeholder-shown:top-2 
    peer-placeholder-shown:text-base 
    peer-placeholder-shown:text-gray-400 
    peer-focus:-top-3.5 
    peer-focus:text-sm 
    peer-focus:text-gray-600;
  }

  .input-container {
    @apply relative w-full hover:font-semibold;
  }

  .button-submit {
    @apply w-fit 
    cursor-pointer
    rounded-md
    bg-sky-600
    px-4
    py-2 font-bold 
    text-white
    shadow-lg
    hover:bg-sky-500;
  }
}
